body {
        background: #00c4ff;
        font-family: 'Inconsolata', monospace;
}

.terminal-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

#terminal {
        border: 3px gray solid;
        border-top: 20px gray solid;
        width: 1600px;
        height: 800px;
        background: black;
        color: #00ff66;
        padding: 5px;
}

pre {
        margin: 0;
}

#prompt {
        overflow: hidden;
}

#history {
        max-height: 775px;
        overflow-y: auto;
        overflow-x: hidden;
}

a, a:visited, a:hover {
        color: white;
}
